@import '../mixins'

.mobile .view.posts {
  &.loading {
    a.next {
      display: none
    }
  }

  &:not(.loading) {
    .activity-indicator {
      display: none
    }
  }

  header h1 {
    overflow: hidden
    color: #D32626
    font-family: "Lily Script One", cursive, "Helvetica Neue", Helvetica, Arial, sans-serif

    background-repeat: no-repeat
    background-position: center 13px
    background-size: 75px 17px
  }
}
